{% extends "admin/posts.html" %}
{% block content %}
    <h2>编辑文章</h2>
    <form>
        <div class="form-group">
            <div class="row">
                <div class="col-md-8">
                    {{ form.title.label }}
                    {{ form.title(class="form-control", placeholder="Title") }}
                </div>
                <div class="col-md-4">
                    {{ form.datetime.label }}
                    {{ form.datetime(class="form-control", placeholder="Datetime") }}
                </div>
            </div>
        </div>
        <div class="form-group">
            {{ form.content.label }}
            {{ form.content(class="form-control", rows="20", placeholder="Content") }}
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-3">
                    {{ form.metas.label }}
                    {{ form.metas(class="form-control", placeholder="Metas") }}
                </div>
                <div class="col-md-3">
                    {{ form.labels.label }}
                    {{ form.labels(class="form-control", placeholder="Labels") }}
                </div>
                <div class="col-md-3">
                    {{ form.status.label }}
                    {{ form.status(class="form-control", placeholder="Status") }}
                </div>
                <div class="col-md-3">
                    {{ form.password.label }}
                    {{ form.password(class="form-control", placeholder="Password") }}
                </div>
            </div>
        </div>
        {{ form.submit(class="btn btn-primary") }}
        {{ form.save(class="btn btn-default") }}
    </form>
{% endblock %}