{% extends "admin/base.html" %}
{% block content %}
    <h2>标签</h2>

    <div class="row">
        <div class="col-md-5">
            <h4>热名标签</h4>
        </div>
        <div class="col-md-7">
            <h4>标签管理</h4>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>名称</th>
                    <th>别名</th>
                    <th>文章数</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for label in list %}
                    <tr>
                        <td>{{ label['name'] }}</td>
                        <td>{{ label['slug'] }}</td>
                        <td>{{ label['num'] }}</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a type="button" class="btn btn-success btn-sm" href="{{ url_for('labeledit', labelid=label['id'], _external=True) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editLabel" data-name="{{ label['name'] }}" data-slug="{{ label['slug'] }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delLabel" data-id="{{ label['id'] }}" data-name="{{ label['name'] }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!-- 删除分类目录信息 -->
    <div class="modal fade" id="delMeta" tabindex="-1" role="dialog" aria-labelledby="delMetaLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delMetaLabel">删除分类目录</h4>
                </div>
                <form method="POST" action="/admin/metas">
                    {{ delForm.hidden_tag() }}
                    <div class="modal-body">
                        <p style="color: red">请注意，您在进行一项危险的操作！</p>
                        <p>您现在将删除分类目录 <b id="createDelName"></b> ,确认后，该分类目录下所有的文章将归并到默认分类目录中。</p>
                        <p>您确认删除的分类目录名称：</p>
                        <div class="form-group">
                            {{ delForm.delName.label(class="control-label") }}
                            {{ delForm.delName(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        {{ delForm.delSubmit(class="btn btn-danger") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript">
        $('#delMeta').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var name = button.data('name')
            var modal = $(this)
            modal.find('#delId').val(id)
            document.getElementById("createDelName").innerHTML = name;

        })
    </script>
{% endblock %}