{% extends "admin/base.html" %}
{% block content %}
    <h2>页面</h2>
    <br/>
    <div>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#all" aria-controls="profile" role="tab" data-toggle="tab">全部</a></li>
            <li role="presentation"><a href="#pub" aria-controls="messages" role="tab" data-toggle="tab">已发布</a></li>
            <li role="presentation"><a href="#wait" aria-controls="settings" role="tab" data-toggle="tab">草稿</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="all">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类目录</th>
                        <th>标签</th>
                        <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这个文章已经发布</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            已发布
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这里的文章标题</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            已发布
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这个文章还是草稿</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            草稿
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这个文章等待审核</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            待审核
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="pub">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类目录</th>
                        <th>标签</th>
                        <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这里的文章标题</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            已发布
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这里的文章标题</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            已发布
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="wait">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><input type="checkbox"></th>
                        <th>标题</th>
                        <th>作者</th>
                        <th>分类目录</th>
                        <th>标签</th>
                        <th><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这个文章还是草稿</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td>-</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            草稿
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th><input type="checkbox"></th>
                        <td>这个文章等待审核</td>
                        <td>hypo</td>
                        <td>默认分类</td>
                        <td>-</td>
                        <td><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> 4</td>
                        <td>
                            <abbr title="2015/09/30 19:12:15">2015-09-30</abbr>
                            <br/>
                            待审核
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm" role="group" aria-label="...">
                                <a class="btn btn-success" href="#">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a class="btn btn-danger" href="#">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}