{% extends "admin/base.html" %}
{% block content %}
    <h2>用户管理</h2>
    <div class="panel panel-default">
        <div class="panel-heading">
            用户列表&nbsp;
            <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addUser">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>添加用户
            </button>
        </div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>登录名</th>
                    <th>昵称</th>
                    <th>邮箱</th>
                    <th>权限</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {% for user in list %}
                    <tr>
                        <th scope="row">{{ user['id'] }}</th>
                        <td><a href="{{ url_for('posts', userid=user['id']) }}">{{ user['login'] }}</a></td>
                        <td>{{ user['nicename'] }}</td>
                        <td>{{ user['email'] }}</td>
                        <td><span class="label {{ user['label'] }}"> + {{ user['rule'] }} + </span></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <a type="button" class="btn btn-success btn-sm" href="{{ url_for('profile', userlogin=user['login']) }}">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                                </a>
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#editUser" data-id="{{ user['id'] }}" data-login="{{ user['login'] }}" data-name="{{ user['nicename'] }}" data-url="{{ user['url'] }}" data-rule="{{ user['ruleId'] }}">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delUser" data-id="{{ user['id'] }}" data-login="{{ user['login'] }}">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="panel-footer">
            <nav>
                <ul class="pagination">
                    <li {% if not pagination.has_prev %}class="disabled"{% endif %}>
                        <a {% if pagination.has_prev %}href="{{ url_for('useredit', page=pagination.page - 1) }}"{% endif %} aria-label="Previous">&laquo;</a>
                    </li>
                    {% for p in pagination.iter_pages() %}
                        {% if p %}
                            <li {% if p == pagination.page %}class="active"{% endif %}>
                                <a href="{{ url_for('useredit', page=p) }}">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    <li {% if not pagination.has_next %}class="disabled"{% endif %}>
                        <a {% if pagination.has_next %}href="{{ url_for('useredit', page=pagination.page + 1) }}"{% endif %} aria-label="Next">&raquo;</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <!-- 添加用户 -->
    <div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="addUserLabel">添加新用户</h4>
                </div>
                <form method="POST" action="/admin/users">
                    <div class="modal-body">
                        {{ addForm.hidden_tag() }}
                        <div class="form-group">
                            {{ addForm.addLogin.label(class="control-label") }}
                            {{ addForm.addLogin(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ addForm.addNicename.label(class="control-label") }}
                            {{ addForm.addNicename(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ addForm.addEmail.label(class="control-label") }}
                            {{ addForm.addEmail(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ addForm.addPassword.label(class="control-label") }}
                            {{ addForm.addPassword(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ addForm.addRule.label(class="control-label") }}
                            {{ addForm.addRule(class="form-control") }}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        {{ addForm.addSubmit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 修改用户信息 -->
    <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="editUserLabel">修改用户信息</h4>
                </div>
                <form method="POST" action="/admin/users">
                    <div class="modal-body">
                        {{ editForm.hidden_tag() }}
                        <div class="form-group">
                            {{ editForm.editLogin.label(class="control-label") }}
                            {{ editForm.editLogin(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ editForm.editNicename.label(class="control-label") }}
                            {{ editForm.editNicename(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ editForm.editUrl.label(class="control-label") }}
                            {{ editForm.editUrl(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ editForm.editPassword.label(class="control-label") }}
                            {{ editForm.editPassword(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ editForm.editRule.label(class="control-label") }}
                            {{ editForm.editRule(class="form-control") }}
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        {{ editForm.editSubmit(class="btn btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 删除用户信息 -->
    <div class="modal fade" id="delUser" tabindex="-1" role="dialog" aria-labelledby="delUserLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="delUserLabel">删除用户</h4>
                </div>
                <form method="POST" action="/admin/users">
                    {{ delForm.hidden_tag() }}
                    <div class="modal-body">
                        <p style="color: red">请注意，您在进行一项危险的操作！</p>
                        <p>您现在将删除用户 <b id="createDelLogin"></b> ,确认后，用户所有的信息将在程序中抹去，操作不可逆！</p>
                        <p>您确认删除的用户名：</p>
                        <div class="form-group">
                            {{ delForm.delLogin.label(class="control-label") }}
                            {{ delForm.delLogin(class="form-control") }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        {{ delForm.delSubmit(class="btn btn-danger") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    {{ super() }}
    <script type="text/javascript">
        $('#editUser').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var login = button.data('login')
            var name = button.data('name')
            var url = button.data('url')
            var rule = button.data('rule')
            var modal = $(this)
            modal.find('#editId').val(id)
            modal.find('#editLogin').val(login)
            modal.find('#editNicename').val(name)
            if(url == 'None' || url == ''){

                modal.find('#editUrl').val("http://")
            }else{

                modal.find('#editUrl').val(url)
            }
            modal.find('#editRule').val(rule)
        })
        $('#delUser').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget)
            var id = button.data('id')
            var login = button.data('login')
            var modal = $(this)
            modal.find('#delId').val(id)
            document.getElementById("createDelLogin").innerHTML = login;

        })
    </script>
{% endblock %}