<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>{% block title %}Ayanami.cn{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="/static/img/favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/style/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/style/icon.css">
    <link rel="stylesheet" href="/static/style/loader.css">
    <link rel="stylesheet" href="/static/style/idangerous.swiper.css">
    <link rel="stylesheet" href="/static/style/stylesheet.css">
    <!--[if lt IE 10]>
			<link rel="stylesheet" type="text/css" href="/static/style/ie-9.css" />
	<![endif]-->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>
<body>

<!-- THE LOADER -->
<div class="be-loader">
    <div class="spinner">
        <div class="spinner-container container1">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container2">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
        <div class="spinner-container container3">
            <div class="circle1"></div>
            <div class="circle2"></div>
            <div class="circle3"></div>
            <div class="circle4"></div>
        </div>
    </div>
</div>
{% include "header.html" %}
<!-- MAIN CONTENT -->
<div id="content-block">
{% block body %}
{% endblock %}
</div>
{% include "footer.html" %}
<div class="be-fixed-filter"></div>
<div class="large-popup login">
    <div class="large-popup-fixed"></div>
    <div class="container large-popup-container">
        <div class="row">
            <div class="col-md-8 col-md-push-2 col-lg-6 col-lg-push-3  large-popup-content">
                <div class="row">
                    <div class="col-md-12">
                        <i class="fa fa-times close-button"></i>
                        <h5 class="large-popup-title">登录</h5>
                    </div>
                    <form method="post" action="/login" class="popup-input-search">
                        {{ loginform.hidden_tag() }}
                        <div class="col-md-6">
                            {{ loginform.login(class='input-signtype', placeholder='邮箱或用户名') }}
                        </div>
                        <div class="col-md-6">
                            {{ loginform.password(class='input-signtype', placeholder='密码') }}
                        </div>
                        <div class="col-xs-6">
                            <div class="be-checkbox">
                                <label class="check-box">
                                    {{ loginform.remberme(class='checkbox-input') }} <span class="check-box-sign"></span>
                                </label>
                                <span class="large-popup-text">记住我</span>
                            </div>
							
                            <a href="blog-detail-2.html" class="link-large-popup">Forgot password?</a>
                        </div>
                        <div class="col-xs-6 for-signin">
                            {{ loginform.submit(class="be-popup-sign-button") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% block register %}
{% endblock %}
<!-- SCRIPTS	 -->
<script src="/static/script/jquery.min.js"></script>
<script src="/static/script/bootstrap.min.js"></script>
<script src="/static/script/idangerous.swiper.min.js"></script>
<script src="/static/script/isotope.pkgd.min.js"></script>
<script src="/static/script/jquery.viewportchecker.min.js"></script>
<script src="/static/script/global.js"></script>
</body>
</html>