{% extends "blog.html" %}
{% block title %}登陆仪表盘{% endblock %}
{% block head %}
    {{ super() }}
    <link href="../static/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container" style="padding: 8% 0 0;">
        <form class="form-signin" method="post" action="login">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">登录到仪表盘</h2>
            {{ form.login.label(class='sr-only') }}
            {{ form.login(id='inputLogin', class='form-control', placeholder='邮箱或用户名') }}
            {{ form.password.label(class='sr-only') }}
            {{ form.password(id='inputPassword', class='form-control', placeholder='密码') }}
            <div class="checkbox">
                <label>
                    {{ form.remberme() }}{{ form.remberme.label }}
                </label>
            </div>
            {{ form.submit(class="btn btn-lg btn-primary btn-block") }}
        </form>
        <div style="text-align: right; margin-right: 33%;">
            <a href="{{ url_for('register') }}" title="找回密码">没有账户？</a>|
            <a href="#" title="找回密码">忘记密码？</a>
        </div>
    </div> <!-- /container -->
{% endblock %}
{% block footer %}
    <footer class="footer blog-footer" style="padding-top: 10%;border-top: 0px;">
        <p>Power by : <a href="https://github.com/Coderhypo/EasyCMS" target="_blank">EasyCMS</a> welcome your star and fork.</p>
    </footer>
{% endblock %}