{% extends 'blog.html' %}
{% block title %}{{ user.user_nicename }}个人中心{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <img alt="" class="img-rounded" height="230" src="{{ avatar }}" width="230">
            <h1 class="vcard-names">
                <span class="vcard-fullname" itemprop="name">{{ user.user_nicename }}</span>
                <span class="vcard-username" itemprop="additionalName">{{ user.user_login }}</span>
            </h1>
            <ul class="vcard-details">
                <li class="vcard-detail">
                    <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;
                    <a href="{% if user.user_url %}{{ user.user_url }}{% else %}{{ url_for('index', _external=True) }}{% endif %}" target="_blank">{% if user.user_url %}{{ user.user_url }}{% else %}{{ url_for('index', _external=True) }}{% endif %}</a>
                </li>
                <li class="vcard-detail">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>&nbsp;
                    <a href="mailto:{{ user.user_email }}" target="_blank">{{ user.user_email }}</a>
                </li>
                <li class="vcard-detail">
                    <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;
                    {% if user.isAdmin() %}
                        <span class="label label-warning"> + 管理员 + </span>
                    {% elif user.isEditor() %}
                        <span class="label label-success"> + 编辑 + </span>
                    {% elif user.isAuther() %}
                        <span class="label label-primary"> + 作者 + </span>
                    {% elif not user.is_active() %}
                        <span class="label label-default"> + 用户被禁用 + </span>
                    {% else %}
                        <span class="label label-info"> + 订阅者 + </span>
                    {% endif %}
                </li>
                <li class="vcard-detail">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;
                    2015-10-10 12:23:34
                </li>
                <li class="vcard-detail">
                    <div class="btn-group btn-group-sm" role="group">
                        <a class="btn btn-primary btn">
                            <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                            发私信
                        </a>
                        <a class="btn btn-success btn">
                            点个赞
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;1
                        </a>
                    </div>
                </li>
            </ul>
            {% if current_user.is_authenticated %}
                {% if current_user.user_id == user.user_id or current_user.isAdmin() %}
                    <div style="text-align: center; padding-bottom: 15px;">
                        <div class="btn-group btn-group-sm" role="group">
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#userInfoEdit">
                                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;
                                修改资料
                            </button>
                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#userPassEdit">
                                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>&nbsp;
                                修改密码
                            </button>
                            <button type="button" class="btn btn-default btn-sm"  {% if not user.is_active() %}disabled="disabled"{% endif %}data-toggle="modal" data-target="#unableUser">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>&nbsp;
                                禁用用户
                            </button>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="col-md-8">
            <div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#home" aria-controls="home" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;
                            已发表
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>&nbsp;
                            未发表
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>&nbsp;
                            发布评论
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">
                            <span class="glyphicon glyphicon-bell" aria-hidden="true"></span>&nbsp;
                            获得评论
                        </a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home">...</div>
                    <div role="tabpanel" class="tab-pane" id="profile">...</div>
                    <div role="tabpanel" class="tab-pane" id="messages">...</div>
                    <div role="tabpanel" class="tab-pane" id="settings">...</div>
                </div>

            </div>
        </div>
    {% if current_user.is_authenticated %}
        {% if current_user.user_id == user.user_id or current_user.isAdmin() %}
            <!-- 修改个人信息 -->
            <div class="modal fade" id="userInfoEdit" tabindex="-1" role="dialog" aria-labelledby="userInfoEditLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="userInfoEditLabel">修改个人资料</h4>
                        </div>
                        <form action="/proEdit" method="post">
                            {{ infoForm.hidden_tag() }}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ infoForm.nicename.label(class='control-label') }}
                                    {{ infoForm.nicename(class='form-control') }}
                                </div>
                                <div class="form-group">
                                    {{ infoForm.url.label(class='control-label') }}
                                    {{ infoForm.url(class='form-control') }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                {{ infoForm.submit(class='btn btn-primary') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 修改密码 -->
            <div class="modal fade" id="userPassEdit" tabindex="-1" role="dialog" aria-labelledby="userPassEditLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="userInfoEditLabel">修改用户密码</h4>
                        </div>
                        <form action="/proEdit" method="post">
                            {{ passForm.hidden_tag() }}
                            <div class="modal-body">
                                <div class="form-group">
                                    {{ passForm.password.label(class='control-label') }}
                                    {{ passForm.password(class='form-control') }}
                                </div>
                                <div class="form-group">
                                    {{ passForm.password2.label(class='control-label') }}
                                    {{ passForm.password2(class='form-control') }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                {{ passForm.submit(class='btn btn-primary') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- 禁用用户 -->
            <div class="modal fade" id="unableUser" tabindex="-1" role="dialog" aria-labelledby="unableUserLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="userInfoEditLabel">禁用用户</h4>
                        </div>
                        <form action="/proEdit" method="post">
                            {{ unableUserForm.hidden_tag() }}
                            <div class="modal-body">
                                <p>用户 <b>{{ unableUserForm.login.data }}</b> 被禁用后将不能再登陆，直到被管理员在<b>后台</b>解除禁用。</p>
                                <p>你确认禁用用户？</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                {{ unableUserForm.submit(class='btn btn-danger') }}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}