{% extends "blog.html" %}
{% block title %}注册新用户{% endblock %}
{% block head %}
    {{ super() }}
    <link href="../static/css/login.css" rel="stylesheet">
{% endblock %}
{% block content %}
    <div class="container" style="padding: 8% 0 0;">
        <form class="form-signin" method="post" action="register">
            {{ form.hidden_tag() }}
            <h2 class="form-signin-heading">注册新用户</h2>
            <div class="form-group">
                {{ form.login.label() }}
                {{ form.login(class='form-control', placeholder='登录用户名') }}
            </div>
            <div class="form-group">
                {{ form.email.label() }}
                {{ form.email(id='inputLogin', class='form-control', placeholder='常用邮箱') }}
            </div>
            <div class="form-group">
                {{ form.nicename.label() }}
                {{ form.nicename(id='inputLogin', class='form-control', placeholder='昵称') }}
            </div>
            <div class="form-group">
                {{ form.password.label() }}
                {{ form.password(id='inputLogin', class='form-control', placeholder='密码') }}
            </div>
            <div class="form-group">
                {{ form.password2.label() }}
                {{ form.password2(id='inputLogin', class='form-control', placeholder='确认密码') }}
            </div>
            <p>
                {{ form.submit(class="btn btn-lg btn-primary") }}
                <a href="{{ url_for('login', _external=True) }}" class="btn btn-default btn-lg" role="button">已有账户</a>
            </p>
        </form>
        <div style="text-align: center;">
            <p>注意事项：</p>
        </div>
    </div> <!-- /container -->
{% endblock %}
{% block footer %}
    <footer class="footer blog-footer" style="background-color:#eee;padding-top: 3%;border-top: 0px;">
        <p>Power by : <a href="https://github.com/Coderhypo/EasyCMS" target="_blank">EasyCMS</a> welcome your star and fork.</p>
    </footer>
{% endblock %}